html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(45, 45, 62);
}

  /* Webpage main body design */
body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    
}

  /* Split screen text */ 
.container{
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
}
.text1{
  flex: 1;
  margin-left: 10%;
  margin-top: 16%;
  font-size: 180%;
}
.text2{
  flex: 1;
  text-align: left;
  margin-right: 5%;
  margin-top: 18%;
  background-color: white;
}
  /* buttons */ 
nav ul{
  margin-left: 2%;
  list-style-type: none;
  font-size: medium;
  padding-bottom: 40%;
  font-weight: bold;
  font-size: 20px;
}
nav ul li a{
  text-decoration: none;
  margin: 10px;
  color: black;
}

nav ul li a:hover{
  color: darkgrey;
}

.vertical-hr{
  border: 0; 
  margin: 0; 
  border-left: 5px solid black; 
  height: 230px; 
  float: left; 
}