  /* Split screen text */ 
   .container{
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
  }

  .text1{
    flex: 1;
    margin-left: 1%;
    margin-top: 0%;
    font-size: 60%;
  }
  .text2{
    flex: 1;
    margin-right: 0%;
    margin-top: 1%;
    font-size: 110%;
  }
  
  .left{
    flex: 1;
    margin-left: 1%;
  }

  .right{
    flex: 1;
    margin-right: 1%;
  }
/*IMAGES*/
.image img{
    flex: 1;
    width: 720px;
    height: auto;
    margin: 1px;
}


  /* buttons */ 
  nav ul{
    position: sticky;
    margin-left: 27%;
    margin-top: 20px;
    list-style-type: none;
    padding-bottom: 1%;
    font-weight: bold;
    display: flex;
  }
  nav ul li a{
    text-decoration: none;
    margin: 20px;
    color: black;
  }
  
  nav ul li a:hover{
    color: darkgrey;
  }

  /*HR DESIGN - VERTICAL */ 
  .vertical-hr{
    border: 0; 
    margin: 0; 
    border-left: 3px solid black; 
    height: 20px; 
    float: left; 
  }

    /* BODY */ 
  body{
    margin: 1%;
  }

h2{
    text-align: center;
}
  /* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures equal column width */
}
th, td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  width: 33.33%; /* Ensures each column is equal */
  height: 50px; /* Ensures each row is equal */
}

code{
  font-family: 'Times New Roman', Times, serif;
}